<div class="wrapper">
<h1>CALCULATOR</h1>

<label for="" class="f">First number: </label><br>
<input (input)="getFirstVal(num1.value)"  id='num1' type="text" #num1>
<br><br>
<label for="" class="s">Second number: </label><br>
<input (input)="getSecondVal(num2.value)"  id='num2' type="text" #num2>
<br><br>

<button (click)="addition()">+</button>
<button (click)="subtraction()">-</button>
<button (click)="multiplication()">*</button>
<button (click)="division()">/</button>
<br><br>

<h3>Result: {{result}}</h3>
</div>